<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="gooddata" type="GoodDataService.Configuration.GoodDataConfigurationSection,GoodDataService" />
	</configSections>
	<!--testing-->
	<!--<gooddata url="https://sso-test-devel.getgooddata.com"
		domain="[yourdomain]"
		ignoreSslErrors="True"
		passphrase="[passphrase]"
		recipient="ops@gooddata.com"
		login="you@domain.com"
		password="password"/>-->
	<!--production-->
	<!--production-->
	<gooddata url="https://secure.gooddata.com"
		domain="[yourdomain]"
		ignoreSslErrors="True"
		passphrase="[passphrase]"
		recipient="ops@gooddata.com"
		login="you@domain.com"
		password="password"/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="TestProject" value="Master - dev"/>
	</appSettings>
</configuration>